body{
  background-color: rgba(154, 12, 162, 0.267);
  font-size: 100px;
  text-align: center;
}

.start_button{
  padding: 70px;
}

.board{
  /* border: 5px #141414 solid; */
  height:auto;
  font-size: 50px;
}
.board-0{
  /* border: 5px #141414 solid; */
  width:900px;
  padding:150px 0px 0px 0px;
  margin:0px 500px;
  display:flex;
}
.board-3{
  /* border: 5px #141414 solid; */
  width:900px;
  margin:0px 500px;
  display:flex;
}
.board-6{
  /* border: 5px #141414 solid; */
  width:900px;
  margin:0px 500px;
  display:flex;
}
.squares-0{
  border: 5px #141414 solid;
  background-color: palevioletred;
  width:400px;
  height:100px;
  text-align: center;
  color: #141414;
}
.squares-1{
  border: 5px #141414 solid;
  background-color: palevioletred;
  width:400px;
  height:100px;
  text-align: center;
  color: #141414;
}
.squares-2{
  border: 5px #141414 solid;
  background-color: palevioletred;
  width:400px;
  height:100px;
  text-align: center;
  color: #141414;
}
.squares-3{
  border: 5px #141414 solid;
  background-color: palevioletred;
  width:400px;
  height:100px;
  text-align: center;
  color: #141414;
}
.squares-4{
  border: 5px #141414 solid;
  background-color: palevioletred;
  width:400px;
  height:100px;
  text-align: center;
  color: #141414;
}
.squares-5{
  border: 5px #141414 solid;
  background-color: palevioletred;
  width:400px;
  height:100px;
  text-align: center;
  color: #141414;
}
.squares-6{
  border: 5px #141414 solid;
  background-color: palevioletred;
  width:400px;
  height:100px;
  text-align: center;
  color: #141414;
}
.squares-7{
  border: 5px #141414 solid;
  background-color: palevioletred;
  width:400px;
  height:100px;
  text-align: center;
  color: #141414;
}
.squares-8{
  border: 5px #141414 solid;
  background-color: palevioletred;
  width:400px;
  height:100px;
  text-align: center;
  color: #141414;
}
